body{
	background-image: url('../img/fondo2.jpg');
	background-repeat: repeat-y;
	padding-top: 70px;
}

footer{
  position: absolute;
  bottom: 0;
	padding: 10px;
  width: 100%;
  height: auto;
  color: white;
}

.buscar{
	height: 420px;
	overflow-y: scroll;
	margin-bottom: 50px;
}

.remove{
	font-size: 24px;
	color: #f06619;
	cursor: pointer;
}

.remove:hover{
	font-size: 24px;
	color: #C80909;
}

.deshabilitado{
	font-size: 24px;
	color: #f06619;
	cursor: pointer;
}

.deshabilitado:hover{
	font-size: 24px;
	color: #C80909;
}

.habilitado{
	font-size: 24px;
	color: #08c83e;
	cursor: pointer;
}

.habilitado:hover{
	font-size: 24px;
	color: #C80909;
}

.editar{
	font-size: 24px;
	color: #19cf88;
	cursor: pointer;
}

.editar:hover{
	font-size: 24px;
	color: #0955c8;
}

.enlace-ico{
	margin-left: 3%;
	color: #343333;
	cursor: pointer;
}

.enlace-ico:hover{
	margin-left: 3%;
	color: #CE260A;
}

.fondoRojo{
	background-color: #ff8869;
}

/*--------------------*/
/*MODALIDADES*/
.ventana-modal{
	height: 500px;
	overflow-y: scroll;
}

tr : hover{
	cursor: pointer;
}

/*REGISTRO DE EVENTOS*/
#btnAddEvento{
	margin-left: -15px;
	margin-bottom: 20px;
	cursor: pointer;
	opacity: 0.8;
}

.titulo{
	background-color: #000000;
	opacity: 0.8;
	border-radius: 16px;
	color: #fff;
}

.mb5{
	margin-bottom: 5px;
}

.mr15{
	margin-right: 15px;
}

.foto{
	height: 170px;
}

h4.pdCero{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.caja{
	margin-right: 5px;
	border-right: 1px dashed #262424;
}

.pdl0{
	padding-left: 0 !important;
}

.pdl15{
	padding-left: 15px !important;
}

.pdl30{
	padding-left: 30px !important;
}

.pdr0{
	padding-right: 0 !important;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
